{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}
    <style>
        .container {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-gap: 20px;
        }

        .card {
            margin: 0;
        }
    </style>

    <h1>Liste des projets</h1>
    <div class="container">
        {% for project in projects %}
            <div class="card" style="width: 18rem;">
                <img
                        src="/uploads/projects/{{ project.image }}"
                        alt=""
                        height="200"
                />
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <a href="/uploads/projects/{{ project.file }}" download>Télécharger le fichier</a>
                </div>
            </div>


        {% endfor %}
    </div>
{% endblock %}
